<p id="notice"><%= notice %></p>

<section class="search">
  <%= image_tag("helpjuice.png", height: 40) %><b>Instant search</b>

  <%= form_for :search, url: "/searches", method: :get do |f| %>
    <%= f.text_field :query, id: 'searchInputField', placeholder: "search articles by title", autocomplete: "off" %>
  <% end %>

  <div id="searchResults"></div>
</section>